/* CSS Requirements:
3.  absolute and relative positioning in at least one area of your web page
*/

/* General Styling */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #5f80a6;
}

section {
    float: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.site-img {
    border-radius: 10px;
    box-shadow: 10px 10px 5px #0d1b2a;
    width: 400px;
    background-color: #e0e1dd;
    margin: 20px;
}

#state-seal {
    border-radius: 50%;
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px 5px #0d1b2a;
}

header h1 {
    text-align: center;
    font-size: 2em;
}

.badge {
    border-radius: 50%;
    width: 150px;
    box-shadow: 2px 2px 5px #0d1b2a;
    position: relative;
    bottom: 25px;
    right: -150px;
}

#home-badge {
    bottom: 25px;
    left: 120px;
}


/* Home Page Styles */

.home-aside {
    float: left;
}

.home-section {
    float: right;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Top Banner Styles */

.banner {
    width: 100%;
    height: 325px;
    background-color: black;
    background-size: 110%;
}

#stl-banner {
    background-image: url(/images/st-louis.jpg);
    background-position: 50% 50%;
}

#jef-city-banner {
    background-image: url(/images/jefferson-city.jpg);
    background-position: 50% 80%;
}

#branson-banner {
    background-image: url(/images/branson.jpg);
    background-position: 50% 30%;
}

#missouri-banner {
    background-image: url(/images/busch-stadium.jpg);
    background-position: 50% 20%;
}

#contact-banner {
    background-image: url(/images/mo-cave.jpg);
    background-position: 50% 30%;
}


/* Nav Styles */

.nav-list {
    display: flex;
    width: 100%;
    margin-top: 0;
    justify-content: space-evenly;
    background-color: #0d1b2a;
    box-sizing: border-box;
}

.nav-list li {
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    color: #e0e1dd;
}

nav ul li a:hover {
    color: #778da9;
}


/* Table Styles */

table,
th,
td {
    border: 1px solid #e0e1dd;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px;
}

th,
td {
    padding: 5px;
}

th {
    background-color: #577eb0;
}

tr {
    background-color: #778da9;
}


/* City Aside Styles */

aside {
    float: right;
    width: 30%;
    background-color: #778da9;
    width: 20%;
    padding: 20px;
    border: 2px solid #0d1b2a;
    margin: 38px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside ol li {
    margin: 10px;
}

aside a {
    text-decoration: none;
    color: #083a7c;
}

aside a:hover {
    color: #e0e1dd;
}

aside p {
    margin-bottom: 0;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 5px;
}


/* Form Styles */

#mismatchEmail {
    color: red;
    font-size: 14px;
    display: none;
}

form {
    width: 50%;

}

/* Contact Us Page Styles */

#plate-img {
    border-radius: 30px;
}